{% extends 'home.html' %}

{% block 'main' %}

<form method="post">
    {% csrf_token %}
    <label for="">Name:</label> <br />
    <input type="text" name="username"><br />

    <label for="">password:</label> <br />
    <input type="password" name="password"><br />
    <label for="">confirm password:</label> <br />
    <input type="password" name="confirmPassword"><br />
    {% if errMessage == "passwordMismatch" %}
    <p>enter same password in confirm password field</p>
    {% endif %}
    <input type="submit">
</form>

{% endblock %}
